node_modules/

.env
.env.* 
!.env.example

prisma/*.db
prisma/*.db-journal
prisma/*.sqlite
prisma/*.sqlite3

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/

dist/
build/